{% extends "base.html" %}
{% block content %}

<div class="ScrollableDiv">
	<div class="container">
		{% if Listings %}
			{% for Listing in Listings %}
				<div class="row">
					<div class="col-sm">
						<a href="{% url 'Listing' %}?listing={{ Listing.id }}">
							<img src="{{ Listing.Thumbnail }}" width="200" height="200">
						</a>
					</div>
					<div class="col-8">
						<p><b>Seller:</b> {{ Listing.Seller }}</p>
						<p>Price: ${{ Listing.Price }}</p>
						{% if Listing.CanDeliver %}
							<p><b>Can Deliver: Yes</b></p>
						{% else %}
							<p><b>Can Deliver: No</b></p>
						{% endif %}
						<p><b>Condition: {{ Listing.Condition }}</b></p>
						<a href="{% url 'Listing' %}?listing={{ Listing.id }}">
							<p><b><u>Listing Page</u></b></p>
						</a>
						{% if user.is_authenticated %}
							<button id="like" data-listid="{{ Listing.id }}" class="FavBtn btn btn-primary" type="button">
							<span class="glyphicon glyphicon-thumbs-up"></span>
							{% if Listing.Favd %}
								Unfavorite
							{% else %}
								Favorite
							{% endif %}
							</button>
						{% endif %}
					</div>
					<div class="col-4">
					</div>
				</div>
			{% endfor %}
		{% else %}
			<h2>You have no favorites.</h2>
		{% endif %}
	</div>
</div>

<script>
// Like
$('.FavBtn').click(function(){
    var listid;
    listid = $(this).attr("data-listid");
    $.get('/market/like/', {listing_id: listid}, function(data){
               location.reload();
    });
});
</script>

{% endblock %}