{% extends "base.html" %}

{% load static %}

{% block custom-css %}
<link href="{% static '/UCSDMarket/styles.css' %}" type='text/css' rel='stylesheet'>
{% endblock %}

{% block content %}
<h1 >{{ Title }}</h1>
<p>{{ Description }}</p>
   <body>

     <form action="" method="post">
    {% csrf_token %}
<!--     {{ form.as_table }}
    {{ form.seller }} -->
    <label for="title">Title: </label>
    <input id="title" type="text" name="tilte" placeholder = "bed/desk/chair">
    <label for="seller">Seller: </label>
    <input id="seller" type="text" name="seller" placeholder="seller name">
    <label for="price">Price: </label>
    <input id="price" type="text" name="price" placeholder="price in USD">
   <label for="image">Image: </label>
    <input id="image" type="image" name="image">
    <input type="submit" value="Submit">

  </form>
      
   </body>
{% endblock %}